.container {
  height: 3000px;
}

.foo {
  position: fixed;
  left: 0;
  font-size: 1.5rem;
  height: 25%;
  width: 48%;
  color: azure;
  background-color: #008cff;
}

.bar {
  position: fixed;
  right: 0;
  font-size: 1.5rem;
  height: 25%;
  width: 48%;
  color: azure;
  background-color: #00ad85;
}

.nonscrolled {
  height: 25%;
  background-color: #00ad85;
}

.scrolled {
  height: 75%;
  background-color: #008cff;
}
